---
import Welcome from '../components/Welcome.astro';
import Megamenu from '../components/megamenu.astro';
import Cta from '../components/cta.astro';
import Units from '../components/units-appliances-los-angeles.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
   
<Layout>
<Megamenu />
  <main>
    <!-- Main Container -->
    <style>
      * {box-sizing: border-box}
      body {font-family: "Lato", sans-serif;}
      
      /* Стиль табуляции */
      #tabs {display: grid;grid-template-columns: 1fr 3fr;}
      #tabs .tabs-nav {margin: 0;padding: 0;position: relative;border: 1px solid #ccc;background-color: #f1f1f1;}   
      #tabs  a {display: block;color: black;padding: 22px 16px;width: 100%;text-align: left;cursor: pointer;transition: 0.3s;text-decoration: none;;}		
      #tabs  a:hover {background-color: #ddd;}
      #tabs  a.active {background-color: #ccc;}   
      #tabs .tabs-items {border: 1px solid #ccc;}
      #tabs .tabs-item {padding: 15px;min-height: 300px;display:none;}
      #tabs .tabs-item.active {display:block;}
      #tabs .tabs-item a {display: none;}
      
      
      @media (max-width: 991px){
        #tabs {grid-template-columns: 1fr;}
        #tabs .tabs-item a {display: flex;justify-content: space-between;}
        #tabs a {padding: 10px 16px;}
        #tabs .tabs-item a:after {content: "+";}
        #tabs .tabs-nav{display:none}
        #tabs .tabs-item {min-height: auto;padding: 0;border: 1px solid #e9eaec;margin-bottom: 10px;display: block;}
        #tabs .tabs-items {border:none;}
        #tabs .info {padding: 0 16px;}
        #tabs .tabs-item a.active {background-color: #50a2de;}
        #tabs .tabs-item a.active:after {content: "-";}
        #tabs .tabs-item a + .info {display: none;}
        #tabs .tabs-item a.active + .info {display: block;}	
      }
      </style>

<h1>Вертикальная табуляция</h1>

<p>Нажмите на кнопки внутри меню с вкладками:</p>
<div id="tabs">
	<div class="tabs-nav">
		<a href="#tab-1" class="links active">Лондон</a>
		<a href="#tab-2" class="links">Париж</a>
		<a href="#tab-3" class="links">Токио</a>
	</div>	
	<div class="tabs-items">
		<div class="tabs-item active" id="tab-1">
			<a href="#tab-1" class="links active">Лондон</a>
			<div class="info">
				<h3>Лондон</h3>
				<p>Лондон - столица Англии.</p>
			</div>	
		</div>
		<div class="tabs-item" id="tab-2">
			<a href="#tab-2" class="links">Париж</a>
			<div class="info">	
				<h3>Париж</h3>
				<p>Париж - столица Франции.</p> 
			</div>	
		</div>
		<div class="tabs-item" id="tab-3">
			<a href="#tab-3" class="links">Токио</a>
			<div class="info">
				<h3>Токио</h3>
				<p>Токио - столица Японии.</p>
			</div>
		</div>		
	</div>
</div>  

<script>
$(function(){
	
jQuery('#tabs a.links').click(function(){
	if (jQuery(window).width() >= 992) { 
		jQuery('#tabs a.links').removeClass('active');
		jQuery('a[href="'+jQuery(this).attr('href')+'"]').addClass('active');
		jQuery('#tabs .tabs-item').removeClass('active')
		jQuery('.tabs-items').find('a[href="'+jQuery(this).attr('href')+'"]').parent().addClass('active')
		if(window.location.hash){
			jQuery('#tabs-nav a[href=' + window.location.hash + ']').click();
			window.scrollTo(0, jQuery(window.location.hash).offset().top);
		}
	} else { 
		jQuery('#tabs a.links').click(function(){ 
			jQuery('.tabs-item').removeClass('active')
			jQuery(this).closest('.tabs-item').addClass('active')
			if (!jQuery(this).hasClass('active')){
				jQuery('#tabs a.links').removeClass('active').next().slideUp(500);
				jQuery('a[href="'+jQuery(this).attr('href')+'"]').addClass('active').next().slideDown(500);
			}
			return false;
		})
	}		

	return false;
	});
});

jQuery(window).resize(function() {
	if (jQuery(window).width() < 992) { //мелкоэкраны
		jQuery('#tabs a.links:not(.active)').next().slideUp();
		jQuery('#tabs .tabs-item').css('display','block');
	} else {
		jQuery('#tabs .tabs-item:not(.active)').css('display','none');
		jQuery('#tabs .tabs-items .info').css('display','block');
		jQuery('#tabs .tabs-nav .links').css('display','block');; 
	}
});


</script>
 
    
    
  </main>
<Cta />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</Layout>