---
import Welcome from '../components/Welcome.astro';
import Megamenu from '../components/megamenu.astro';
import Cta from '../components/cta.astro';
import Units from '../components/units-appliances-los-angeles.astro';
import { TabsAccordion } from '../components/TabsAccordion.jsx'
import { ScrollUpButton } from '../components/ScrollUpButton'
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
   
<Layout>

  <main>
<Megamenu />
<p> Need fast, reliable appliance repair? Look no further! Our team offers same-day, expert repair services for all major home and commercial appliances, including refrigerators, freezers, washers, dryers, dishwashers, stoves, ovens, microwaves, ice machines, fireplaces, BBQ grills, cooktops, range hoods, walk-in coolers, HVAC systems, and more.

  We’re trusted by customers throughout Los Angeles and the surrounding areas to repair top brands like KitchenAid, Frigidaire, LG, Samsung, GE, Sub-Zero, Wolf, Cove, Whirlpool, Monogram, Miele, Bosch, Thermador, and many others. Our licensed, insured, and factory-trained technicians often carry parts in stock, meaning we can fix most appliance issues on the spot!
  Why choose us?
  
  90-Day Satisfaction Guarantee: We stand by our work—if any issues arise within 90 days, we’ll come back to make it right at no extra charge.
  
  Transparent Pricing: No hidden fees or surprise charges. You’ll get a clear, upfront estimate before any work begins, so you know exactly what to expect.
  
  Book Online & Save 10%: Schedule your repair on our website as a first-time customer to enjoy a 10% discount on your service call.
  
  Every customer is  vimportant to us, and we’re committed to delivering outstanding service with every call. Let our skilled technicians get your appliances up and running today. Contact us for quick, dependable repairs! </p>
    <TabsAccordion client:load/>
     <ScrollUpButton />
  </main>

</Layout>